future
emoji
requests
sqlalchemy
python-telegram-bot==12.4.2
psycopg2-binary
feedparser
tldextract
Pillow>=4.2.0
alphabet_detector
bleach
markdown2
pyowm
bs4
lxml
spamwatch
regex
googletrans
demjson
PyLyrics
wget
gTTS
telegram
zalgo_text
pynewtonmath
bs4
telegraph
